<?php
//database
$servername = "";  // Adresa MySQL serveru
$username = "";      // Uživatelské jméno pro přihlášení do MySQL
$password = "";         // Heslo pro přihlášení do MySQL
$dbname = "";   // Název databáze

$sendinblue = "";